<%- include('./inc/header') %>
<h1>Banality Strikes</h1>
<p>This Changeling has been ravaged by banality and been Undone, that or the address that you have for them is out of date or mistaken. Blame the Nockers.</p>
<p>You may need to run the <strong>/reload-sheet</strong> command</p>
<%- include('./inc/footer') %>