<div class="container">
    <div class="row">
        <h3 class="col text-center">Cantrips</h3>
    </div>
    <% for (let art of arts){%>
        <div class="row">
            <h4 class="col text-center"><%- art.name %> <i class="toggler bx bx-up-arrow-alt"></i></h4>
        </div>
        <div class="row">
        <% for (let cantrip of art.cantrips){%>
                <div class="col-3 col-lg-2"><strong><%- cantrip.name %></strong></div>
                <div class="col-9 col-lg-10"><%- cantrip.effect %></div>
        <%}%>
        </div>
    <%}%>
</div>